---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../componants/BlogPost.astro";
const allPosts = await getCollection("blog");
const pageTitle = "Blog Page";
---
<BaseLayout pageTitle={pageTitle}>		
	<h1>My Astro Learning Blog</h1>
	<p>This is where i will post about my journey learning Astro.</p>
	<div class="posts">
		{
			allPosts.map((post) => (
				<BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
			))
		}
	</div>
</BaseLayout>

<style>
	.posts {
		display: flex;
		flex-wrap: wrap;
	}
</style>

